spring:
  cloud:
    gcp:
      credentials:
        location: classpath:articulate-bot-427008-b0-098d19344371.json
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://localhost:3306/osonglostsystem
    username: root
    password: Dmagmagma1234!
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000
google:
  cloud:
    credentials:
      location: classpath:articulate-bot-427008-b0-098d19344371.json